.tokenheader{
    text-align: center;
}
.ordertoken{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    
    flex-wrap: wrap;
    text-align: center;
    font-family:'Roboto', sans-serif;
    letter-spacing :2px;
}
.orders{
 display: flex;
 flex-direction: column;
 padding: 30px;
    align-items: center;
    margin-top: 10px;
    width: 300px;
   
    text-align: center;
}
.ready{
    background-color: rgb(8, 167, 16);
    border-radius: 5px;
    color: white;
    border-left: 10px solid  rgb(4, 101, 9) ;
}
.not{
    background-color: rgb(253, 102, 102);
    border-radius: 5px;
    color: white;
    border-left: 10px solid rgb(160, 68, 68) ;
}