
.menu-form-wrapper{
    display: flex;
    }
    
    .adminsidebar{
    flex:1;
    }
    .btn{
        background-color:#3498db ;
        height: 50px;
        width: 150px;
        border:none;
        color:white;
        font-family: 'Roboto',sans-serif;
        letter-spacing: 2px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 600;
    }
    .btn:hover{
        border: 1px solid #3498db ;
        background-color: white;
        color: #3498db;
    }
    .menu-updateform{
        flex:10;
        width:100vw;
        height:500px;
       padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;
        
    }
    .menu-updateform p{
       font-size: 10px;
        color: red;
        margin-bottom: 0;
        padding: 0;
      
        
    }
    .menu-updateform input{
        border: none;
        border-bottom: 1px solid rgb(2, 2, 88);
        width:300px !important;
        
    }
    ::placeholder{
        color: rgb(2, 2, 88) ;
        letter-spacing: 2px;
    }
    
    .productname:focus{
        outline: none ;
    }
    
@media (min-width: 768px) {
    .menu-form-wrapper{
        display: flex;
        }
        
        .adminsidebar{
        flex:1;
        }
        .btn{
            background-color:#3498db ;
            height: 50px;
            width: 150px;
            border:none;
            color:white;
            font-family: 'Roboto',sans-serif;
            letter-spacing: 2px;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 600;
        }
        .btn:hover{
            border: 1px solid #3498db ;
            background-color: white;
            color: #3498db;
        }
        .menu-updateform{
            flex:10;
            width:100vw;
            height:500px;
           padding-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 30px;
            padding-right: 30px;
            
        }
        .menu-updateform p{
           font-size: 10px;
            color: red;
            margin-bottom: 0;
            padding: 0;
          
            
        }
        .menu-updateform input{
            border: none;
            border-bottom: 1px solid rgb(2, 2, 88);
            width:1000px !important;
            
        }
        ::placeholder{
            color: rgb(2, 2, 88) ;
            letter-spacing: 2px;
        }
        
        .productname:focus{
            outline: none ;
        }
        
}
