.mobile>ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width:400px;
    color: darkcyan;
    
}
.mobile li:hover {
background-color: aliceblue;
border-radius: 50%;
height: 30px;
width: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.mobile{
    background-color: #fff1cc ;
    margin-top: -15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
@media(min-width:768px){
    .mobile{
        display: none;
    }
}