
.pricecardContainer{
    display: none;
}
@media(min-width:768px){
.pricecardContainer{
    display: inline;
}
.disable{
    border:none
}
.active{
    border-bottom:3px solid #ff784a;
}
.pricecardTopbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
    width:250px;
    color: rgb(19 97 92);
    padding-left: 70px;
    font-family: 'Roboto', sans-serif;
}
.pricecardTopbar>li{
    height: 20px;
    margin-top: 20px;
}
.pricecardContainer{
    display: flex;
    justify-content: space-between;
 
    background-color: #fff1cc;
}
.pricecardlogopic{
    margin-top: 10px;
    height: 70px;
    width: 80px;
}
.pricecardtopbarRight{
    display: flex;
    justify-content: space-around;
    width: 200px;
        width: 150px;
    padding-right: 100px;
    list-style: none;
   margin-top: 30px;
    color: rgb(19 97 92);

}

}